:root {
  --primary: #FFC700;
  /*--secondary: #EE4E4E;*/
  --secondary: #FF8343;
}

* {
  box-sizing: border-box;
}

body {
  font-family: Inter, sans-serif;
  min-width: 320px;
  background-color: var(--primary);
  margin: 0;
}

button {
  font-family: inherit;
  cursor: pointer;
  border: none;
}

#root {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 100dvh;
}

h1, h2, h3, h4, h5, p {
  font-weight: normal;
  margin: 0;
}

